<!DOCTYPE html>
<html lang="pt-br" ng-app="login">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cupons | Alessandra Espanha</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PNotify -->
    <script src="/vendors/pnotify/dist/pnotify.js"></script>
    <script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/js/custom.min.js"></script>

    <!-- Custom Theme Style -->
    <link href="/css/custom.min.css" rel="stylesheet">

    <script>

      var myApp = angular.module('login',[]);

      myApp.controller('LoginController', ['$scope', function($scope) {

        //$scope.login = {'username' : "<?= $this->teste ?>"};
        $scope.login = {};

        $scope.$watch('login', function(newValue, oldValue) {
          localStorage.clickcount = 'ok'
          console.log($scope.login);
        },true);
      }]);

    </script>

  </head>

  <body class="login" ng-controller="LoginController">
    <div>

      <div class="login_wrapper">
        <div class="animate form login_form">

          <!-- alert -->
          <?php if( $this->alert_msg ): ?>
            <div class="alert alert-<?= $this->type_alert_msg ?> alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
              </button>
              <?= $this->alert_msg ?>
            </div>
          <?php endif; ?>
          <!-- fim alert -->

          <section class="login_content">
            <center><img src="/images/Logopainel.png"/></center>
            <form action="" ng-submit="" method="POST">

              <div>
                <?= $this->form_login->email ?>
              </div>
              <div>
                <?= $this->form_login->senha ?>
              </div>
              <div>
                <button class="btn btn-primary submit" type="submit">Acessar</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
          <center>
            <p>
              <a href="/">← Voltar para o sistema</a>
            </p>
          </center>
        </div>

      </div>
    </div>
  </body>
</html>