<section id="contato" style="padding-top: 120px;">


  	<?php if( $this->mensagem ): ?>
      	<center><p style="color:#ff0000"><?= $this->mensagem ?></p></center>
    <?php endif;?> 

    <div class="row section-head">

        <div class="twelve columns">

           <h1>Crie sua conta grátis<span>.</span></h1>

           <hr />    

        </div>

    </div> 

    <div class="row">
	    <div class="six columns tab-whole left" id="criarconta">
	      
	        <form method="post" action="">
				<fieldset>
					<?= $this->form->idCupom ?>
					<?= $this->form->setor ?>
			        <div class="group" style="height: 80px;">
						<?= $this->form->nome ?>
			        </div>
			        <div style="height: 80px;">
			  		    <?= $this->form->email ?>
			        </div>
			        <div style="height: 80px;">
			 			<?= $this->form->celular ?>
			        </div>                       
			        <div style="height: 80px;">
			          	<?= $this->form->cpf ?>
			        </div>
			        <div style="height: 80px;">
			          	<?= $this->form->confirma_termo ?> <span for="confirma_termo" style="font-size: 14px;font-family: raleway-heavy, sans-serif"> &nbsp;Eu li e concordo com os <a href="/eu_concordo_com_os_termos_de_uso.pdf" target="_blank">Termos de Uso</a></span>
			        </div>
			        <div>
			          	<button class="submitform" type="submit">Cadastrar</button>
			        </div>
				</fieldset>
			</form>

	    </div>
	</div>

</section>