<section id="about" style="margin-top: 40px;padding-bottom: 60px;">

  <section id="team">
    <div class="row team section-head">

      <?php if( $this->mensagem ): ?>
          <center><p style="color:#6ebc07"><?= $this->mensagem ?></p></center>
      <?php endif;?> 

      <div class="twelve columns">

        <h1>Bem vindo(a) <?= $this->dados_usuario->getNome() ?><span>.</span></h1>
        <p>
          <a href="/minhaconta/editarconta/id/<?=$this->dados_usuario->getId()?>">
            <i class="fa fa-pencil" aria-hidden="true"></i> Meu perfil
          </a> &nbsp; 
          <a href="/minhaconta/meuscupons">
            <i class="fa fa-eye" aria-hidden="true"></i> Meus cupons (<?= $this->contadorCupons ?>)
          </a>
        </p>
        <hr />   

        <p style="text-align: justify;">
        	<span style="color: #ffffff">Validados: </span><?= $this->contadorCuponsValidados ?>
        </p>

        <center>
          <p>
            <a href="/">Ver cupons disponíveis</a>  
          </p>
        </center>

      </div>

    </div> <!-- end section-head -->

  </section>   

</section> <!-- end about -->  