<section id="contato" style="padding-top: 120px;">

  <div class="row">

  	<?php if( $this->mensagem ): ?>
      	<center><p style="color:#ff0000"><?= $this->mensagem ?></p></center>
    <?php endif;?> 


     <div class="six columns tab-whole left" id="criarconta">

	    <div class="row section-head">

	        <div class="twelve columns">

	           <h1><a href="/minhaconta">←Voltar</a> | Editar perfil<span>.</span></h1>

	           <hr />    

	        </div>

	    </div> 
      
        <form method="post" action="">
			<fieldset>
		        <div class="group" style="height: 80px;">
					<?= $this->form->nome ?>
		        </div>
		        <div style="height: 80px;">
		  		    <?= $this->form->email ?>
		        </div>
		        <div style="height: 80px;">
		 			<?= $this->form->celular ?>
		        </div>                       
		        <div style="height: 80px;">
		          	<?= $this->form->cpf ?>
		        </div>                       
		        <div>
		          	<button class="submitform" type="submit">Solicitar alteração</button>
		        </div>
			</fieldset>
		</form>

     </div>

  </div>

</section>