<section id="contato" style="padding-top: 120px;">

	<?php if( $this->mensagem ): ?>
    	<center><p style="color:#ff0000"><?= $this->mensagem ?></p></center>
  <?php endif;?> 

  <div class="row section-head">

    <div class="twelve columns">

       <h1>Acesse sua conta<span>.</span></h1>

       <hr />         

    </div>

  </div> 

  <div class="row">
    <div class="six columns tab-whole left" id="login">
      
      <form method="post" action="">
        <fieldset>
          <?= $this->form->idCupom ?>
        	<?= $this->form->setor ?>
            <div class="group" style="height: 80px;">
              	<?= $this->form->email ?>
            </div>
            <div style="height: 80px;">
              	<?= $this->form->cpf ?>
            </div>
            <div>
            	<button class="submitform" type="submit">Entrar</button>
              <?php if($this->idCupom && $this->setor): ?>
                <center><p><a href="/minhaconta/criarconta/idCupom/<?=$this->idCupom?>/setor/<?=$this->setor?>">ou criar uma conta</a></p></center>
              <?php else: ?>
                <center><p><a href="/minhaconta/criarconta/">ou crie uma conta grátis</a></p></center>
              <?php endif; ?>
            </div>
        </fieldset>
      </form>
            
    </div> 
  </div>

</section>