<section id="clientes" style="margin-top: 80px;">

	<?php if($this->dados['validado'] == 'n' && $this->dados['dias_corridos'] <= 3) : ?>
		<div class="row">

			<div class="row section-head">

		        <div class="twelve columns">
		           	<h1 style="color: #111417; text-align: left">
		           		<a href="/minhaconta/meuscupons">←Voltar</a> | Cupom<span>.</span>
		           	</h1>
		    		<hr />
		        </div>

		    </div> 
	  	
		  	<div class="six columns tab-whole left">
	  			<?php if( $this->mensagem ): ?>
			      	<center><p style="color:#6ebc07"><?= $this->mensagem ?></p></center>
			    <?php endif;?>
			    <?php $formata_data = explode('-', $this->dados['data_cadastro']); ?>
			    
  				<p style="text-align: left">Você deve apresentar o cupom impresso ou fazer um print para apresentar ao atendente no momento da troca pelo produto.</p>

  				<p style="text-align: left">Válido até 3 dias corridos após a data de emissão do cupom: <?= $formata_data[2].'/'.$formata_data[1].'/'.$formata_data[0] ?></p>

	  			<p style="text-align: left"><a onclick="window.open('/minhaconta/printcupom/rand/'+<?=$this->dados['rand']?>, '', 'width=700,height=842')"><i class="fa fa-print"></i> Imprimir</a></p>

		    </div>

		    <div class="six columns tab-whole right">

		    	<?php
			      	include('qrcode/phpqrcode/qrlib.php');
			 
					$codeContents = 'http://'.$_SERVER['HTTP_HOST'].'/atendente/index/rand/'.$this->dados['rand']; 
					 
					QRcode::png($codeContents, 'qrcode.png', QR_ECLEVEL_L , 8); 
					  
					echo '<img src="/qrcode.png" style="border-style:solid;border-width:1px;border-color:#BBBBBB"/>';
				?>
				<center><p>Cupom</p></center>

				<br/>
			     
		    </div> 

		</div>
	<?php endif; ?>

	<div class="row">

		<div class="row section-head">

	        <div class="twelve columns">

	           	<h1 style="color: #111417; text-align: left">
	           		<?= ($this->dados['validado'] == 's' || $this->dados['dias_corridos'] > 3) ? '<a href="/minhaconta/meuscupons">←Voltar</a> |' : '' ?> Detalhes do Cupom<span>.</span>
	           	</h1>
	    		<hr />     

	        </div>

	    </div> 
  	
	  	<div class="six columns tab-whole left">

			<?php if( $this->dados['validado'] == 's' ): ?>
				<p><span style="color:#6ebc07"><i class="fa fa-check-circle" aria-hidden="true"></i> Validado</span></p>
			<?php elseif( $this->dados['dias_corridos'] > 3 ): ?>
				<p><span style="color:#dd0060"><i class="fa fa-question-circle" aria-hidden="true"></i> Cupom vencido</span></p>
			<?php endif; ?>

	  		<p style="text-align: left;"><i class="fa fa-thumb-tack"></i> <?= $this->dados['nomeParceiro'] ?></p>
		    <p style="text-align: left;"><i class="fa fa-map-marker"></i> <?= $this->dados['locais'] ?></p>
		    <p style="text-align: left;"><?= $this->dados['detalhes'] ?></p>
		    <?php if( $this->dados['de'] && $this->dados['por'] ): ?>
		    	<p style="text-align: left;"><i class="fa fa-usd"></i> <span style="font-size:15px;">De <s>R$ <?=$this->dados['de']?></s></span> por: <span style="font-size: 22px;">R$ <?=$this->dados['por']?></span></p>
			<?php endif; ?>

		    <p>&nbsp;</p>
	  		
	    </div>

	    <div class="six columns tab-whole right">

		    <a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1"><img src="http://<?=$_SERVER['HTTP_HOST']?>/public/thumb.php?img=<?=$this->dados['imagem']?>&w=315&h=315"></a>
		    <p style="margin-top: -10px;">
		    	<a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1">
		    		<i class="fa fa-search-plus" aria-hidden="true"></i> zoom
		    	</a>
		    </p>
		    <p>&nbsp;</p>

	    </div> 

	</div>

</section> 