<section id="portfolio" style="padding-top: 120px;background-color: #fff">

  <div class="row section-head">

    <div class="twelve columns">

      <h1 style="color: #111417; text-align: left"><a href="/minhaconta">←Voltar</a> | Meus Cupons</h1>
      <hr /> 
    </div>

  </div> 

  <div class="row items">

     <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">

     	<?php if($this->cupons_participantes): ?>
	        <?php foreach ($this->cupons_participantes as $key => $value):?>
	        	<div class="bgrid folio-item">
		          	<a href="/minhaconta/meucupom/rand/<?=$value['rand']?>">
		            	<div class="item-wrap">
		              		<img src="http://<?=$_SERVER['HTTP_HOST']?>/public/thumb.php?img=<?=$value['imagem']?>&w=315&h=315">
		            	</div>
		            	<center>
		              		<p style="font-size: 15px;line-height:20px;margin:0px;padding: 18px 0px 5px 0px;">
		              			<?=$value['nome']?><br/>
		              			#<?=$value['setor']?><br/>
		              			<span style="color:#333"><?=$value['rand']?></p></span>
	              				<?= ($value['validado'] == 's') ? '<p style="color:#6ebc07;margin-top:0px;"><i class="fa fa-check-circle" aria-hidden="true"></i> Validado</p>' : '' ?>
		              		</p>
		            	</center>
		           	</a>
		        </div> 
	        <?php endforeach; ?>
      	<?php else: ?>
        	<center><p style="padding: 0 15px;"><img src="/images/vazio.gif"/><br/>Você não resgatou nenhum cupom no momento.<br/><a href="/">ir para área de cupons</a></p></center>
      	<?php endif; ?>

      </div>

     </div>
     <p>&nbsp;</p>

</section> 