<body>
	<head>
		<meta charset="UTF-8"> 
		<style>
		    @media print {
		        .row.cupom{
		            visibility: visible;
		            position: fixed;
				    left: 0;
				    top: 0;
		        }
		    }
		</style>
		<script>
		    window.print();
		</script>
	</head>
</body>

<div style="width: 100%">
	<center style="margin-bottom: 20px;">
		<img src="/images/Logo2.png"/><br/>
		alessandraespanha.com.br
	</center>
	<div style="width: 30%;float: left">
		<?php
		  	include('qrcode/phpqrcode/qrlib.php');

			$codeContents = 'http://'.$_SERVER['HTTP_HOST'].'/atendente/index/rand/'.$this->dados['rand']; 
			 
			QRcode::png($codeContents, 'qrcode.png', QR_ECLEVEL_L , 8); 
			  
			echo '<img src="/qrcode.png" style="border-style:solid;border-width:1px;border-color:#BBBBBB;width:100%"/>';

			$formata_data = explode('-', $this->dados['data_cadastro']);
		?>
	</div>
	<div style="width: 65%;float:left;padding-left: 20px;">
		<p style="text-align: left;">Cliente: <?= $this->dados['nome'] ?></p>
		<p>Estabelecimento: <?= $this->dados['nomeParceiro'] ?></p>
	    <p style="text-align: left;"><?= $this->dados['locais'] ?></p>
	    
	    <?php if( $this->dados['de'] && $this->dados['por'] ): ?>
	    	<p style="text-align: left;"><span style="font-size:15px;">De <s>R$ <?=$this->dados['de']?></s></span> por: R$ <?=$this->dados['por']?></p>
		<?php endif; ?>
	    
	    <p style="text-align: left;"><?= $this->dados['detalhes'] ?></p>
	</div>
	<div style="width: 100%;float: left;margin-top: 20px;">
		<center>
			<p>Apresente este cupom ao atendente do estabelecimento.</p>
			<p>Válido até 3 dias corridos após a data de emissão do cupom: <?= $formata_data[2].'/'.$formata_data[1].'/'.$formata_data[0] ?>.</p>
			<p><?= $this->dados['nomeParceiro'] ?></p>
		</center>
	</div>
</div>