<section id="clientes" style="margin-top: 80px;">

		<?php if( $this->mensagem ): ?>
      <center><p style="color:#ff0000"><?= $this->mensagem ?></p></center>
    <?php endif;?>

	<div class="row section-head">

        <div class="twelve columns">

           	<h1 style="color: #111417; text-align: left">
           		<a href="/#desapega">←Voltar</a> | Detalhes do Produto<span>.</span>
           	</h1>
    		<hr />     

        </div>

    </div> 

    <div class="row section-head">
	
	  	<div class="six columns tab-whole left">

	  		<p style="text-align: left;"><i class="fa fa-thumb-tack"></i> <?= $this->dados['nome'] ?></p>
		    <p style="text-align: left;"><i class="fa fa-map-marker"></i> <?= $this->dados['locais'] ?></p>
		    <p style="text-align: left;"><i class="fa fa-usd"></i> <span style="font-size:15px;">De <s>R$ <?=$this->dados['de']?></s></span> por: R$ <?=$this->dados['por']?></p>
		    <p style="text-align: left;"><?= $this->dados['detalhes'] ?></p>
	  		<p>&nbsp;</p>

	  		<?php if( $this->dados_usuario->getRole() == 'participante' ): ?>
	  			<a href="/desapega/detalhe/gerar/<?= $this->dados['id'] ?>" class="button">Quero este produto, gerar cupom</a>
	  			<br/>
	  		<?php else: ?>
	  			<p style="text-align: left;">Faça o <a href="/minhaconta/index/idCupom/<?=$this->dados['id']?>/setor/desapega">login</a> ou <a href="/minhaconta/criarconta/idCupom/<?=$this->dados['id']?>/setor/desapega">crie uma conta</a> para poder resgatar este produto.</p>
	  		<?php endif; ?>
	  		<br/>

	    </div>

	    <div class="six columns tab-whole right">
		    <a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1"><img src="http://<?=$_SERVER['HTTP_HOST']?>/public/thumb.php?img=<?=$this->dados['imagem']?>&w=315&h=315"></a>
		    <p style="margin-top: -10px;">
		    	<a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1">
		    		<i class="fa fa-search-plus" aria-hidden="true"></i> zoom
		    	</a>
		    </p>
	    </div> 

	    <p>&nbsp;</p>

    </div>

</section> 