<section id="portfolio" style="padding-top: 120px;background-color: #fff">

  	<div class="row section-head">
	    <div class="twelve columns">
	      	<h1 style="color: #111417; text-align: left"><a href="/">←Voltar</a> | Cupons Disponíveis<br/></h1>
	      	<hr />
	    </div>
  	</div> 


 	<?php if($this->cupons): ?>
        <?php foreach ($this->cupons as $key => $value):?>
        	<!-- Primeiro produto exibe o nome da loja -->
        	<?php if( $key == 0 ): ?>
        		<div class="row section-head">
				    <div class="twelve columns">
				      	<h1 style="color: #111417; text-align: left"><?=$value['nome']?></h1>
				    </div>
				</div> 
				<div class="row items">
					<div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">
			<!-- Quando mudar de loja entre os produtos exibe o nome do estabelecimento -->
		    <?php elseif( $this->cupons[$key-1]['nome'] != $value['nome']): ?>
		    		</div>
		    	</div>
		    	<br/>
		    	<div class="row section-head">
				    <div class="twelve columns">
				      	<h1 style="color: #111417; text-align: left"><?=$value['nome']?></h1>
				    </div>
				</div> 
				<div class="row items">
					<div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">
		    <?php endif; ?>
		        	<div class="bgrid folio-item">
		        		<?php if($value['disponibilidade']): ?>
		        			<a href="/cupons/detalhe/id/<?=$value['id']?>"> 
		        		<?php endif; ?>
			            	<div class="item-wrap">
			              		<img src="http://<?=$_SERVER['HTTP_HOST']?>/public/thumb.php?img=<?=$value['imagem']?>&w=315&h=315" alt="Image" class="img-responsive">
			            	</div>
			            	<center>
			              		<p style="font-size:15px;line-height:20px;margin:0px;padding: 12px 0;">
			              			<?=$value['nome']?><br/><br/>
			              			<?php if( $value['de'] && $value['por'] ): ?>
				              			<span style="font-size:13px;color:#333">De <s>R$ <?=$value['de']?></s></span> 
				              			<span style="font-size:20px;">por: R$ <?=$value['por']?></span><br/>
			              			<?php endif; ?>
			              			<span style="color:#333"><?=$value['breve_descricao']?></p></span>
			              			<?php if($value['disponibilidade']): ?>
			              				<div style="background-color: #dd0060;">
			                				<p style="font-size: 17px;line-height:20px;color:#fff;padding:5px;margin:0px;">
			                					Pegar cupom
			                				</p>
			              				</div>
		              				<?php else: ?>
		              					<div style="background-color: #0F1215;">
			                				<p style="font-size: 17px;line-height:20px;color:#fff;padding:5px;margin:0px;">
			                					Esgotado
			                				</p>
			              				</div>
		              				<?php endif; ?>
		              				<?php ?>
			              		</p>	
			            	</center>
			            <?php if($value['disponibilidade']): ?>
			           		</a>
			           	<?php endif; ?>
			        </div> 
		        <?php endforeach; ?>
		        </div>
		    </div>
		        
	      	<?php else: ?>
	        	<center><p style="padding: 0 15px;"><img src="/images/vazio.gif"/><br/>Nenhum cupom disponível no momento.</p></center>
	      	<?php endif; ?>

	    </div>

    </div>
    <p>&nbsp;</p>

</section> 