<section id="clientes" style="margin-top: 80px;">

		<?php if( $this->mensagem ): ?>
      <center><p style="color:#ff0000"><?= $this->mensagem ?></p></center>
    <?php endif;?>

    <div class="row">

    	<div class="row section-head">

	        <div class="twelve columns">

	           	<h1 style="color: #111417; text-align: left">
	           		<a href="/cupons/categoria/slug/<?=$this->dados['categoria']?>">←Voltar</a> | Detalhes do Cupom<span>.</span>
	           	</h1>
	    		<hr />     

	        </div>

	    </div> 
	
	  	<div class="six columns tab-whole left">

	  		<p style="text-align: left;"><i class="fa fa-thumb-tack"></i> <?= $this->dados['nome'] ?></p>
		    <p style="text-align: left;"><i class="fa fa-map-marker"></i> <?= $this->dados['locais'] ?></p>
		    <p style="text-align: left;"><?= $this->dados['detalhes'] ?></p>
		    <?php if( $this->dados['de'] && $this->dados['por'] ): ?>
		    	<p style="text-align: left;"><i class="fa fa-usd"></i> <span style="font-size:15px;">De <s>R$ <?=$this->dados['de']?></s></span> por:<span style="font-size: 22px;"> R$ <?=$this->dados['por']?></span></p>
		    <?php endif; ?>
	  		<p>&nbsp;</p>

	  		<?php if( $this->dados_usuario->getRole() == 'participante' ): ?>
	  			<a href="/cupons/detalhe/gerar/<?= $this->dados['id'] ?>" class="button">Quero participar, gerar cupom</a>
	  			<br/>
	  		<?php else: ?>
	  			<p style="text-align: left;"><a href="/minhaconta/index/idCupom/<?=$this->dados['id']?>/setor/cupons">Faça o login</a> ou <a href="/minhaconta/criarconta/idCupom/<?=$this->dados['id']?>/setor/cupons">crie sua conta grátis</a> para poder resgatar este cupom.</p>
	  		<?php endif; ?>
	  		<br/>

	    </div>

	    <div class="six columns tab-whole right">
		    <a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1"><img src="http://<?=$_SERVER['HTTP_HOST']?>/public/thumb.php?img=<?=$this->dados['imagem']?>&w=315&h=315"></a>
		    <p style="margin-top: -10px;">
		    	<a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1">
		    		<i class="fa fa-search-plus" aria-hidden="true"></i> zoom
		    	</a>
		    </p>
	    </div> 

	    <p>&nbsp;</p>

    </div>

</section> 