<script type="text/javascript">
	function goBack(){
		javascript:history.back(-2);
	}
</script>

<section id="portfolio" style="margin-top: 20px;">

  	<div class="row section-head">

  		<div class="twelve columns">

  			<h2>Heey!! Você não tem permissão para acessar esta página.</h2>
			 <button onClick="goBack()">Voltar</button>

    	</div>

  	</div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
</section>