<section id="portfolio" style="margin-top: 20px;">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Ocorreu um erro</h1>
      <h2><?php echo $this->message ?></h2>

      <?php if (isset($this->exception)): ?>
      
      <h3>Informação:</h3>
      <p>
          <b>Mensagem:</b> <?php echo $this->exception->getMessage() ?>
      </p>

      <h3>Rastreamento:</h3>
      <pre><?php echo $this->exception->getTraceAsString() ?>
      </pre>

      <h3>Parametro solicitado:</h3>
      <pre><?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
      </pre>

      <?php endif ?>

    </div>

  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
</section>
