<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Cupons &nbsp; <a href="/admin/cupom/criar" class="btn btn-success">Adicionar novo</a></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <?php if( $this->mensagem ): ?>
        <div class="alert <?=$this->status_alerta?> alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <?= $this->mensagem ?>
        </div>
        <?php endif; ?>

        <div class="table-responsive">
        <?php if( $this->cupons ): ?>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Liberados</th>
                <th>Resgatados</th>
                <th>Validados</th>
                <th>Dt. Inicio</th>
                <th>Dt. Termino</th>
                <th>Editar / Excluir<!-- / Visualizar--></th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($this->cupons as $key => $cupom) { ?>
                <tr>
                  <th scope="row"><?= $cupom['id'] ?></th>
                  <td><?= $cupom['nome'] ?></td>
                  <td><?= $cupom['categoria'] ?></td>
                  <td><?= $cupom['quantidade'] ?></td>
                  <td><?= $cupom['cupons_gerados'] ?></td>
                  <td><?= $cupom['cupons_validados'] ?></td>
                  <td><?= implode('-', array_reverse( explode('-', $cupom['data_inicio']) )) ?></td>
                  <td><?= implode('-', array_reverse( explode('-', $cupom['data_termino']) )) ?></td>
                  <td>
                    <a href="/admin/cupom/editar/id/<?=$cupom['id']?>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <?php if($cupom['cupons_gerados'] == 0 && $cupom['cupons_validados'] == 0): ?>
              	       &nbsp;&nbsp;
              	       <a href="/admin/cupom/excluir/id/<?=$cupom['id']?>"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                    <?php endif; ?>
                    <!--&nbsp;&nbsp;
                    <a href="/admin/cupom/excluir/id/<?=$cupom['id']?>"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
                  </td>
                </tr>
              <?php } ?>
            </tbody>
          </table>
        </div>
        <?php else: ?>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            Nenhum cupom cadastrado no momento.
          </div>
        <?php endif; ?>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
<!-- /page content -->