<section id="about" style="margin-top: 40px;">

  <section id="team">
    <div class="row team section-head">

          <div class="twelve columns">

         <h1 style="text-align: left"><a href="/">←Voltar</a> | Como funciona?</h1>

         <hr />   

        <p style="text-align: justify;">
          Pegô, Levô!<br/>
          A mais nova ferramenta de marketing para você comprar os melhores produtos com descontos! Economize! Aqui seu dinheiro vale mais.
          <br/><br/>
          - Faça seu cadastro<br/>
          - Clique na categoria desejada<br/>
          - Escolha seu produto<br/>
          - Gere seu cupom (QR Code, pelo seu mobile ou desktop)<br/>
          - Fique atento! Você terá 3 dias úteis para utilizar seu cupom e resgatar o produto<br/><br/>
          Leia os <a href="#">Termos de Uso</a>
        </p>

      </div>

    </div> <!-- end section-head -->

  </section>   

</section> <!-- end about -->  