<section id="portfolio" style="padding-top: 120px;">

  <div class="row section-head" style="margin-bottom: 25px;">

    <div class="twelve columns">

      <h1>Pegô, Levô! - Cupons</h1>

      <hr /> 

    </div>

  </div>

  <div class="row items">

     <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">

        <?php foreach ($this->categorias as $key => $categoria) { ?>
          <div class="bgrid folio-item" style="padding: 0px;">
            <a href="/cupons/categoria/slug/<?=$categoria['slug']?>">
              <div class="item-wrap">
                <img src="<?=$categoria['icone']?>" alt="Underwater">                    
              </div>
            </a>
            <center><p style="font-size: 12px;margin-top: -10px;"><?= $categoria['contador'] ?></p></center>
          </div>
        <?php } ?>

      </div>

     </div>
     <p>&nbsp;</p>

</section> 

<section id="portfolio" style="padding-top: 50px;background-color: #fff">

  <div class="row section-head" id="desapega">

    <div class="twelve columns">

      <h1 style="color: #111417;">Desapega!</h1>
      <hr /> 
    </div>

  </div> 

  <div class="row items">

     <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">

        <?php if($this->desapega): ?>

          <?php foreach ($this->desapega as $key => $value) : ?>
            <div class="bgrid folio-item">
              <a href="/desapega/detalhe/id/<?=$value['id']?>">
                <div class="item-wrap">
                  <img src="<?=$value['imagem']?>" alt="Underwater">
                </div>
                <center>
                  <p style="font-size: 15px;line-height:20px;margin:0px;padding: 12px 0;">
                    <?=$value['nome']?><br/><br/>
                    <span style="font-size:13px;color:#333">De <s>R$ <?=$value['de']?></s></span> 
                    <span style="font-size:20px;">por: R$ <?=$value['por']?></span><br/>
                    <span style="color:#333"><?=$value['breve_descricao']?></p></span>
                    <div style="background-color: #dd0060;">
                      <p style="font-size: 17px;line-height:20px;color:#fff;padding:5px;margin:0px;">
                        Eu quero!
                      </p>
                    </div>
                  </p>  
                </center>
               </a>
            </div>
          <?php endforeach; ?>

        <?php else: ?>

          <center><p style="padding: 0 15px;"><img src="/images/vazio.gif"/><br/>Nenhum produto disponível no momento.</p></center>

        <?php endif; ?>

      </div>

     </div>
     <p>&nbsp;</p>

</section>