<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><a href="/admin/categoria">←Voltar</a> &nbsp; Adicionar nova categoria</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="demo-form2" method="POST" action="" enctype="multipart/form-data" class="form-horizontal form-label-left">
        	<?php foreach ($this->form as $key => $form) { ?>
        		<?php if($key == 'id'): ?>
        			<?= $form ?>
        		<?php else: ?>
	        		<div class="form-group">
			            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
			            	<?= $form->getLabel() ?> 
			            	<span class="required"><?= ($form->isRequired()) ? '*' : ''; ?></span>
			            </label>
			            <div class="col-md-6 col-sm-6 col-xs-12">
			              	<?= $form ?>
			            </div>
			        </div>
		    	<?php endif; ?>
        	<?php } ?>
	        <div class="ln_solid"></div>
	        <div class="form-group">
	            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	            	<button type="submit" class="btn btn-success">Cadastrar</button>
				  	    <button class="btn btn-primary" type="reset">Cancelar</button>
	            </div>
	        </div>
        </form>
      </div>
    </div>
  </div>
</div>