<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Categorias &nbsp; <a href="/admin/categoria/criar" class="btn btn-success">Adicionar novo</a></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <?php if( $this->mensagem ): ?>
        <div class="alert <?=$this->status_alerta?> alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <?= $this->mensagem ?>
        </div>
        <?php endif; ?>

        <?php if( $this->categorias ): ?>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Cupons</th>
                <th>Editar / Excluir</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($this->categorias as $key => $categoria) { ?>
                <tr>
                  <th scope="row"><?= $categoria['id'] ?></th>
                  <td><?= $categoria['nome'] ?></td>
                  <td><?= $categoria['contador'] ?></td>
                  <td>
                    <a href="/admin/categoria/editar/slug/<?=$categoria['slug']?>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <?php if( $categoria['contador'] == '0 cupom' ): ?>
                  	   &nbsp;&nbsp;
                  	   <a href="/admin/categoria/excluir/slug/<?=$categoria['slug']?>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <?php endif; ?>
                  </td>
                </tr>
              <?php } ?>
            </tbody>
          </table>
        </div>
        <?php else: ?>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            Nenhuma categoria cadastrada no momento.
          </div>
        <?php endif; ?>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
<!-- /page content -->