<section id="about" style="margin-top: 40px;">

  <section id="team">
    <div class="row team section-head">

          <div class="twelve columns">

         <h1 style="text-align: left"><a href="/">←Voltar</a> | Divulgue!</h1>

         <hr />   

        <p style="text-align: justify;">
          Envie um e-mail para pegolevo@alessandraespanha.com.br com as seguintes informações:<br/><br/>
          - Nome completo<br/>
          - Nome da loja<br/>
          - Endereço<br/>
          - Descrição do produto<br/>
          - Quantidade <br/>
          - Preço (real e percentual de desconto concedido)<br/>
          - Imagem do produto <br/>
        </p>

      </div>

    </div> <!-- end section-head -->

  </section>   

</section> <!-- end about -->  