<!-- top tiles -->
  

  <div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Dados gerais</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-building"></i> Parceiros</span>
              <div class="count"><?=$this->contador_parceiros?></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Participantes</span>
              <div class="count"><?=$this->contador_participantes?></div>
              <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-ticket"></i> Cupons Cadastrados</span>
              <div class="count"><?=$this->contador_cupons?></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-ticket"></i> Cupons Ativos</span>
              <div class="count"><?=$this->contador_cuponsativos?></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-ticket"></i> Cupons Resgatados</span>
              <div class="count green"><?=$this->contador_cuponsresgatados?></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-ticket"></i> Cupons Validados</span>
              <div class="count"><?=$this->contador_cuponsvalidados?></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="clearfix"></div>
</div>