<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Usuários &nbsp; <a href="/admin/usuario/criar" class="btn btn-success">Adicionar novo</a></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <?php if( $this->mensagem ): ?>
        <div class="alert <?=$this->status_alerta?> alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <?= $this->mensagem ?>
        </div>
        <?php endif; ?>

        <?php if( $this->usuarios ): ?>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Editar / Excluir</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($this->usuarios as $key => $usuario) { ?>
                <tr>
                  <th scope="row"><?= $usuario['id'] ?></th>
                  <td><?= $usuario['nome'] ?></td>
                  <td><?= $usuario['email'] ?></td>
                  <td><?= ($usuario['status'] == 's') ? 'Ativo' : 'Inativo' ?></td>
                  <td>
                    <a href="/admin/usuario/editar/id/<?=$usuario['id']?>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <?php if( $this->dados_autenticacao->getId() != $usuario['id'] ): ?>
                      &nbsp;&nbsp;
                      <a href="/admin/usuario/excluir/id/<?=$usuario['id']?>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <?php endif; ?>
                  </td>
                </tr>
              <?php } ?>
            </tbody>
          </table>
        </div>
        <?php else: ?>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            Nenhum usuário cadastrado no momento.
          </div>
        <?php endif; ?>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
<!-- /page content -->