<?php
  $auth = Zend_Auth::getInstance()->getStorage()->read();
  $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
  $action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="pt-br"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
	<title>Alessandra Espanha | Cupom</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sistema de cupom de desconto - Blog Alessandra Espanha">
  <meta name="keywords" content="WEspanha Comunicação Inteligente, Agência de Comunicação, Marketing, Comunicação, Design, Web, Desenvolvimento de Sites, Desenvolvimento de Sistemas, Varginha, Minas Gerais, Perfil WE, Giro Perfil, Wellington Espanha, Alessandra Espanha, Gstão Estratégica, Empresas, Soluções em Comunicação, Soluções Digital, Eventos">
  <meta name="author" content="WEspanha Comunicação Inteligente">
   
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:locale" content="pt_BR">

  <meta property="og:url" content="http://<?=$_SERVER['HTTP_HOST']?><?=$_SERVER['REQUEST_URI']?>">

  <meta property="og:title" content="<?= ($this->layout()->detalhes) ? $this->layout()->detalhes['nome'] : 'Cupom'; ?> | Alessandra Espanha">
  <meta property="og:site_name" content="Alessandra Espanha | Cupom">

  <meta property="og:description" content="<?= ($this->layout()->detalhes) ? $this->layout()->detalhes['detalhes'] : 'Sistema de cupom de desconto - Blog Alessandra Espanha'; ?>">

  <meta property="og:image" content="<?= ($this->layout()->detalhes) ? $this->layout()->detalhes['imagem'] : ''; ?>">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="315">
  <meta property="og:image:height" content="315"> 

  <meta property="og:type" content="website">

  <link rel="icon" href="/images/favicon.png" type="image/x-icon">

 	<!-- CSS
   ================================================== -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/main.css">   

  <!-- lightbox
   ================================================== -->  
  <link rel="stylesheet" href="/lightbox/dist/css/lightbox.min.css">     

   <!-- script
   ================================================== -->
	<script src="/js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>
  <header id="main-header">
    <div class="row">
      <div class="logo">
        <a href="/"><img src="/images/Logo.png"/></a>
      </div>

      <nav id="nav-wrap">         
           
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
          <span class="menu-icon">Menu</span>
        </a>
        <a class="mobile-btn" href="#" title="Hide navigation">
          <span class="menu-icon">Menu</span>
        </a>            

        <ul id="nav" class="nav">
          <li><a href="/" class="<?= ($controller == 'index' || $controller == 'cupons' || $controller == 'desapega') ? 'menuhover' : '' ?>">Cupons</a></li>
          <li><a href="/comofunciona" class="<?= ($controller == 'comofunciona') ? 'menuhover' : '' ?>">Como funciona?</a></li>
          <li><a href="/divulgue" class="<?= ($controller == 'divulgue') ? 'menuhover' : '' ?>">Divulgue</a></li>
          <li> | </li>
          <li>
            <a href="/minhaconta" class="<?= ($controller == 'minhaconta' && $action != 'criarconta') ? 'menuhover' : '' ?>">
              <?= ($auth->getRole() == 'participante') ? '<i class="fa fa-unlock-alt" aria-hidden="true"></i>' : ''?> Minha Conta
            </a>
          </li>
          <?php if($auth->getRole() != 'participante'): ?>
            <li><a href="/minhaconta/criarconta" class="<?= ($controller == 'minhaconta' && $action == 'criarconta') ? 'menuhover' : '' ?>">Criar conta</a></li>
          <?php endif; ?>
          <?php if($auth->getRole() == 'participante'): ?>
            <li><a href="/minhaconta/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Sair</a></li>
          <?php endif; ?>
        </ul> 
      </nav> 
    </div>
  </header>

   <?php echo $this->layout()->content; ?>

   <footer>

      <div class="row">  

      	<div class="twelve columns content group">
      		
				<ul class="social-links">
               <li><a href="https://www.facebook.com/alessandracostaalvesespanha" target="_blank"><i class="fa fa-facebook-square"></i></a></li>            
               <li><a href="https://www.youtube.com/perfilwe" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>

            <hr />

      	</div>           

         <ul class="copyright" style="color:#FFF">
         	<li>&copy; Copyright <?=Date('Y')?>.</li> 
         	<li>Desenvolvido por: <a href="http://www.wespanha.com.br/">WEspanha Comunicação Inteligente</a>.</li>
         </ul>

      </div> 

   </footer> 

   <div id="preloader"> 
    	<div id="loader"><img src="/images/loader.gif"/></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="/js/jquery-1.11.3.min.js"></script>
   <script src="/js/jquery-migrate-1.2.1.min.js"></script>
   <script src="/js/jquery.flexslider-min.js"></script>
   <script src="/js/jquery.waypoints.min.js"></script>
   <script src="/js/jquery.validate.min.js"></script>
   <script src="/js/jquery.fittext.js"></script>
   <script src="/js/jquery.placeholder.min.js"></script>
   <script src="/js/jquery.magnific-popup.min.js"></script>  
   <script src="/js/main.js"></script>

   <script src="/lightbox/dist/js/lightbox-plus-jquery.min.js"></script>

   <script src="/js/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function(){
          $('.date').mask('00/00/0000');
          $('.time').mask('00:00:00');
          $('.date_time').mask('00/00/0000 00:00:00');
          $('.cep').mask('00000-000');
          $('.altura').mask('0000');
          $('.peso').mask('0000');
          $('.phone').mask('0000-0000');
          $('.telefone').mask('(00) 00000-0000');
          $('.phone_us').mask('(000) 000-0000');
          $('.mixed').mask('AAA 000-S0S');
          $('.cpf').mask('000.000.000-00', {reverse: true});
          $('.money').mask('000.000.000.000.000,00', {reverse: true});
        });
    </script>

    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
      $( "#u_0_2" ).click(function() {
        $('#botao_cupom').show();
      });
    </script>

</body>

</html>