<?php if( $this->dados ): ?>

	<section id="clientes" style="margin-top: 80px;">

	  <div class="row">

	  	<?php if( $this->mensagem ): ?>
	      <center><p style="color:#ff0000"><?= $this->mensagem ?></p></center>
	    <?php endif;?>

	  	<div class="row section-head">

	        <div class="twelve columns">

	           	<h1 style="color: #111417; text-align: left">
	           		<a href="/">←Voltar</a> | Detalhe do Cupom<span>.</span>
	           	</h1>
	    		<hr />     

	        </div>

	    </div> 

	  	<div class="six columns tab-whole left">
	  		<p style="text-align: left;">
	  			<?= ($this->dados['validado'] == 's') ? '<span style="color:#6ebc07"><i class="fa fa-check-circle" aria-hidden="true"></i> Validado</span>' : '<span style="color:#dd0060"><i class="fa fa-question-circle" aria-hidden="true"></i> Não validado</span>' ?>
	  		</p>
	  		<?php $data = explode('-', $this->dados['data_cadastro']); ?>
	  		<p style="text-align: left;">Data: <?= $data[2].'/'.$data[1].'/'.$data[0] ?></p>
	  		<p style="text-align: left;">Nome participante: <?= $this->dados['nome'] ?></p>
		    <p style="text-align: left;">CPF: <?= $this->dados['cpf'] ?></p>
		    <p style="text-align: left;">Celular: <?= $this->dados['celular'] ?></p>
		    <br/>
		    <p style="text-align: left;"><i class="fa fa-thumb-tack"></i> <?= $this->dados['nomeParceiro'] ?></p>
		    <p style="text-align: left;"><i class="fa fa-map-marker"></i> <?= $this->dados['locais'] ?></p>
		    <p style="text-align: left;">Detalhes: <?= $this->dados['detalhes'] ?></p>
		    <?php if( $this->dados['de'] && $this->dados['por'] ): ?>
		    	<p style="text-align: left;"><i class="fa fa-usd"></i> <span style="font-size:15px;">De <s>R$ <?=$this->dados['de']?></s></span> por: <span style="font-size: 22px;">R$ <?=$this->dados['por']?></span></p>
			<?php endif; ?>
	  		<p>&nbsp;</p>
	    </div>

	    <div class="six columns tab-whole right">
		    <a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1"><img src="http://<?=$_SERVER['HTTP_HOST']?>/public/thumb.php?img=<?=$this->dados['imagem']?>&w=315&h=315"></a>
		    <p style="margin-top: -10px;">
		    	<a href="/<?= $this->dados['imagem'] ?>" data-lightbox="example-1">
		    		<i class="fa fa-search-plus" aria-hidden="true"></i> zoom
		    	</a>
		    </p>
	    </div> 

	  </div> 

	</section> 

<?php endif; ?>